{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        
        <li><a href="https://www.linkedin.com/in/kyle-kong-63508899/?original_referer="><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed and Improved by Kyle Kong</p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->